@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Covered By Your Grace', cursive;
    height: 100%;
    min-height: 100vh;
    width: 100%;  
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background:url('https://images.unsplash.com/photo-1486819998769-222fcaa57f10?q=80&amp;w=1770&amp;auto=format&amp;fit=crop&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D 1770w');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p,label{
    color: #ffffff;
}
.title{
    font-size: 100px;
    font-weight: 700;
}
.counter-cover{
    display: flex;
    justify-content: space-around;
    
}
.counter-cover .counter{
    text-align: center;
    margin: 48px 0 ;
}
.counter-cover .counter p{
    font-size: 56px;
    font-weight: 600;
}
.counter-cover .counter .box{
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #ffffff;
    margin-bottom: 48px;
}

@media only screen and (max-width : 950px) {
    .title{
        font-size: 48px;
    }
    .counter-cover .counter{
        margin: 24px 0 ;
    }
    .counter-cover .counter p{
        font-size: 28px;
    }
    .counter-cover .counter .box{
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }
}